#bottom-container {
    height: 600px;
    background: linear-gradient(0deg, rgba(222,222,222,1) 0%, rgba(255,255,255,1) 100%);
}

#bg-txt2 {
    display: inline-block;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    text-align: center;
    color: white;
}