#bg-img {
    filter: brightness(70%);
    object-fit: fill;
    z-index: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    mask-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 22%);
    max-height: 800px;
}

form {
    margin: 8px;
}

#bg-txt {
    display: inline-block;
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    text-align: center;
    color: white;
}

#bg-container {
    overflow: hidden;
    width: 100%;
    position: relative;
    display: inline-block;
}

#contact-txt {
    background: linear-gradient(0deg, rgba(222,222,222,1) 0%, rgba(255,255,255,1) 100%);
    height: 750px;
}

#contact-form {
    max-width: 600px;
    display: inline-block;
}

aside {
    background-color: rgba(222,222,222,1);
}

#footer p {
    background-color: rgba(222,222,222,1);
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica";
}

#footer-content {
    background-color: rgba(222,222,222,1);
}