.App {
  text-align: center;
  background-color: white;
}

#consultation {
  margin: 20px;
}

#panoText {
  display: inline-block;
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
  text-align: center;
  color: white;
}

#panoContainer {
  overflow: hidden;
  width: 100%;
  position: relative;
  display: inline-block;
}

#pano {
  filter: brightness(70%);
  margin-left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  mask-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 22%);
  max-height: 800px;
}

#newTab {
  margin: 20px;
}
#tour1 {
  background: linear-gradient(0deg, rgba(222,222,222,1) 0%, rgba(255,255,255,1) 100%);
}
#tour2 {
  background: #dedede;
}






.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

iframe {
  pointer-events: all;
  box-shadow: 3px 3px 4px rgb(59, 59, 59);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  #pano {
    max-height: 450px;
  }
}